
<div class="row mt-4 mb-4">
  <div class="col-md-5 col-xs-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-uppercase">w3earth</h5>
        <p class="card-text text-muted">Mumbai, India</p>
      </div>
    </div>
  </div>
  <div class="col-md-5 col-xs-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-uppercase">w3earth</h5>
        <p class="card-text text-muted">Mumbai, India</p>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-xs-12">
    <div class="card">
      <div class="card-body">
        <button type="button" class="btn btn-outline-secondary btn-block" (click)="openNew()">{{pcdata}}</button>
      </div>
    </div>
  </div>
</div>