<div class="row">
    <div class="col-4">
        <div class="topic-design" >
            <div class="filter" (click)="showGennre()">
                <h5>Topic</h5>
                <p>{{listsOfGen}}</p>
            </div>
            <ng-container *ngIf="filterPop">
                <div class="filter-pop">
                    <span class="arrow"></span>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Favorite Topic</mat-label>
                        <input matInput placeholder="Ex. sports" value="sports" [(ngModel)]="favTopic">
                    </mat-form-field>
                    <button mat-button color="warn" (click)="addGenrre()">Add Gennre</button>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="col-4">
        <div class="topic-design">
            <div class="filter" (click)="showAuthor()">
                <h5>Author</h5>
                <p>{{listsOfAuthor}}</p>
            </div>
            <ng-container *ngIf="filterPopAuthor">
                <div class="filter-pop">
                    <span class="arrow"></span>
                    <mat-form-field appearance="fill">
                        <mat-label>Author</mat-label>
                        <mat-select [(ngModel)]="favAuthor">
                          <mat-option *ngFor="let f of authors" [value]="f">
                            {{f}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    <button mat-button color="warn" (click)="addAuthor()">Add Gennre</button>
                </div>
            </ng-container>
        </div>
    </div>
 </div>
