<div class="container min-heigh">
    <app-users-details [pcdata]="newBtnName"></app-users-details>
    <div class="row mt-1 mb-4" *ngIf="editBoardFlag">
        <div class="col-md-12">
            <div class="card p-4">
                <h5 class="text-uppercase text-success">
                    <img src="../../../assets/bootstrap-icons/pencil.svg" alt="pencil" width="25" height="15" title="pencil">
                     Payments</h5>
            </div>            
        </div>
    </div>
    <div class="row mt-1 mb-4">
        <div class="col-md-4 col-xs-12">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-uppercase">Total Payments</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Total Rs.1548</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a [routerLink]="['/projects']" class="card-link">Project</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-uppercase">Payments Due</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Total Rs.1548</h6>
                  <p class="card-text">Ratio per employee and payments vs Ratio per project and payments</p>
                  <a [routerLink]="['/employees']" class="card-link">Employee</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-uppercase">Payments Recived</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Total Rs.1548</h6>
                  <p class="card-text">Ratio per employee and payments vs Ratio per project and payments</p>
                  <a [routerLink]="['/payments']" class="card-link">Payments</a>
                </div>
            </div>
        </div>
    </div>
</div>